body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.header{
    background-color: whitesmoke;
    grid-column: 2/3;
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}
.header .first-header-line {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    align-items: center;
   
}
.header input{
    width: 60%;
    max-height: 40%;
    border-radius: 25px;
    outline: none; 
}
.header .input{
    display: flex;
    align-items: center;
    margin-left: 5%;
}



.first-header-line .user-name {
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.header .second-header-line{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    
    
}
.second-header-line .user-name{
    margin-left: 10%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
}
.second-header-line button{
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #35A4FB;
    color: white;
    border-radius: 50px;
    font-size: 1.5rem;
}



.sidebar{
    background-color: #35A4FB;
    color: white;
    grid-row: 1/3;
    text-align: left;
    padding: 40px;
    font-size: 2rem;
    font-weight: bold;
}
.sidebar>div{
    margin-bottom: 40px;
}



.main-content {
    background-color: rgb(235, 227, 227);
    grid-column: 2/3;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 30px;
}
.main-content .projects {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 30px;
}

.main-content .card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.main-content .announcments{
    padding: 10px;
    background-color: white;
    border-radius: 25px;
}

.announce {
    
}
.main-content .trending{
    background-color: white;
    font-weight: bold;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
}



.dashboard-sign,.home,.profile,.messages,.history,.tasks,.communities,.settings,.support,.privacy {
    display: flex;
    align-items: center;
    gap: 20px;
}

img {
    height: 3rem;
    width: auto;
    border-radius: 50px;
}

.second-header-line img {
    height: 4rem;
    width: auto;
    border-radius: 50px;
}
span{
    
}

.second-header-line .user-name::after{
    content: "hi,there,";
    font-size: 1rem;
    position: absolute;
    top: 5px;
    right: 86%;
}

.main-content .projects::before{
    
}


